@font-face {
	font-family: big-noodle;
	font-style: oblique;
	src: url("../fonts/big_noodle_titling_oblique.ttf");
}

a.brand {
	font-family: big-noodle;
	font-style: oblique;
	font-size: 40px !important;
	line-height: 20px;
}

i {
	padding-right: 4px;
}

li i {
	padding-right: 6px;
}

table {
	margin-top: 0;
}

#login-form {
	position: relative;
	top: 50%;
	margin: 0 auto;
	/*margin-top: -160px;*/
	width: 320px;
	text-align: center;
}

#login-form input[type="submit"] {
	margin-bottom: 10px;
}

#login-form .btn {
	margin-right: 0px;
}

#login-form table, #login-form form {
	margin-bottom: 0;
}

#main-nav li a {
	/*font-size: 15px;*/
	height: 25px;
	line-height: 25px;
}

/*#filter-block {
	position: absolute;
	background-color: lightblue;
	-webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.95;
}*/

#person-pic {
	width: 180px; 
	height: 180px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 180px;
}

#person-pic img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
}

.select2-offscreen {
	display: none !important;
}

.spinner-content {
	padding: 3px 0;
	text-align: center;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

th {
	border-right: none;
}

@media (max-width: 460px) {
	#login-form {
		margin-top: -20px !important;
		top: 0;
		margin-left: -20px;
		width: 100%;
	}

	#login-form table {
		width: 100%;
	}

	#login-form input[type='text'], #login-form input[type='password'] {
		width: 100%;
	}

	.btn-long {
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media (max-width: 767px) {
	/*.navbar-inner {
		margin-left: 20px;
		margin-right: 20px;
	}*/
}

@media (max-width: 979px) {
	/*body, .container-fluid{
		padding-left: 0;
		padding-right: 0;
	}*/

	[class*="span"] {
		width: 100% !important;
		margin-left: 0 !important;
	}

	.nav-collapse .nav > li > a {
		color: #08c;
	}

	.nav-collapse .nav > li > a:hover {
		color: #005580;
	}

	.nav-collapse .nav-list > .active > a,
	.nav-collapse .nav-list > .active > a:hover,
	.nav-collapse .nav-list > .active > a:focus {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: #0088cc;
	}


	.mobile-collapse {
		display: none;
	}

	table.table-mobile, .table-mobile thead, .table-mobile tbody,
	.table-mobile th, .table-mobile td, .table-mobile tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-mobile thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-mobile tr { border: 1px solid #ccc; }
	
	.table-mobile td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-mobile td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table-mobile td:nth-of-type(1):before { font-weight: bold; content: "Issue ID"; }
	.table-mobile td:nth-of-type(2):before { font-weight: bold; content: "Date Created"; }
	.table-mobile td:nth-of-type(3):before { font-weight: bold; content: "Date Updated"; }
	.table-mobile td:nth-of-type(4):before { font-weight: bold; content: "Crew #"; }
	.table-mobile td:nth-of-type(5):before { font-weight: bold; content: "Room #"; }
	.table-mobile td:nth-of-type(6):before { font-weight: bold; content: "Student Name"; }
	.table-mobile td:nth-of-type(7):before { font-weight: bold; content: "Peer Support"; }
	.table-mobile td:nth-of-type(8):before { font-weight: bold; content: "Need Follow Up?"; }
	.table-mobile td:nth-of-type(9):before { font-weight: bold; content: "Refer to PS?"; }
	.table-mobile td:nth-of-type(10):before { font-weight: bold; content: "Actions"; }

	/*.table-mobile .btn {
		padding: 2px 10px;
		font-size: 11.9px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}*/
}