/*@font-face {
	font-family: big-noodle;
	font-style: oblique;
	src: url("../fonts/big_noodle_titling_oblique.ttf");
}

a.brand {
	font-family: big-noodle;
	font-style: oblique;
	font-size: 40px !important;
	line-height: 20px;
}*/

@font-face {
	font-family: big-noodle;
	font-style: oblique;
	src: url("../fonts/big_noodle_titling_oblique.ttf");
}

.javelin-brand {
	font-family: big-noodle;
	font-style: oblique;
	font-size: 48px !important;
	line-height: 20px !important;
	display: inline-block;
	vertical-align: middle;
}

.navbar-brand {
	max-height: 50px;
	padding: 15px 10px;
}

i {
	padding-right: 4px;
}

li i {
	padding-right: 6px;
}

table {
	margin-top: 0;
}

#login-form {
	position: relative;
	top: 50%;
	margin: 0 auto;
	/*margin-top: -160px;*/
	width: 320px;
	text-align: center;
}

#login-form input[type="submit"] {
	margin-bottom: 10px;
}

#login-form .btn {
	margin-right: 0px;
}

#login-form table, #login-form form {
	margin-bottom: 0;
}

.main-nav {
	padding: 0 20px;
	background-color: #0A66C6;
	border-color: #0855A6;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.main-nav a.navbar-brand {
	color: #BFD0E3;
}

.main-nav a:hover, .main-nav a:focus {
	color: #ffffff !important;
}

.main-nav .navbar-nav > li > a {
	color: #BFD0E3;
	background-color: #0A66C6;
}

.main-nav .navbar-nav > .active > a,
.main-nav .navbar-nav > .open > a, 
.main-nav .navbar-nav > .active > a:hover,
.main-nav .navbar-nav > .open > a:hover {
	background-color: #0855A6 !important;
}

.main-nav .navbar-toggle {
	border-color: #0855A6;
}

.main-nav .navbar-toggle:hover {
	background-color: #0855A6;
}

.main-nav .navbar-collapse {
	border-top-color: #0855A6;
}

.main-nav .dropdown-menu {
	color: #ffffff;
}

#footer {
	color: #BFD0E3 !important;
	background-color: #0A66C6 !important;
}

/*.navbar {
	min-height: 40px;
}*/

/*#main-nav li a {
	font-size: 15px;
	height: 25px;
	line-height: 25px;
}*/

/*#filter-block {
	position: absolute;
	background-color: lightblue;
	-webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.95;
}*/

#person-pic {
	width: 180px; 
	height: 180px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 180px;
}

#person-pic img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
}

.select2-offscreen {
	display: none !important;
}

.spinner-content {
	padding: 3px 0;
	text-align: center;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

th {
	border-right: none;
}

.dataTables_empty {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.dataTables_filter input {
	display: inline;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataTables_filter input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.col-xs-1, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, 
.col-xs-7, .col-xs-8, .col-xs-9, 
.col-xs-10, .col-xs-11, .col-xs-12, 
.col-sm-1, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, 
.col-sm-7, .col-sm-8, .col-sm-9, 
.col-sm-10, .col-sm-11, .col-sm-12, 
.col-md-1, .col-md-2, .col-md-3, 
.col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, 
.col-md-10, .col-md-11, .col-md-12, 
.col-lg-1, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, 
.col-lg-7, .col-lg-8, .col-lg-9, 
.col-lg-10, .col-lg-11, .col-lg-12 {
	padding-left: 8px;
	padding-right: 8px;
}

@media (max-width: 460px) {
	#login-form {
		margin-top: -20px !important;
		top: 0;
		margin-left: -20px;
		width: 100%;
	}

	#login-form table {
		width: 100%;
	}

	#login-form input[type='text'], #login-form input[type='password'] {
		width: 100%;
	}

	.btn-long {
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media (max-width: 767px) {
	/*.navbar-inner {
		margin-left: 20px;
		margin-right: 20px;
	}*/

	/*.module-name {
		display: inline !important;
	}

	.navbar li i {
		font-size: 14px !important;
		padding-right: 4px !important;
	}*/

	.navbar li {
		padding: 0px 10px 0;
	}

	ul.user-collapse {	
		float: none !important;
	}

	section {
		padding: 65px 0px 30px !important;
	}
}

@media (max-width: 979px) {
	/*body, .container-fluid{
		padding-left: 0;
		padding-right: 0;
	}*/

	/*[class*="span"] {
		width: 100% !important;
		margin-left: 0 !important;
	}

	.nav-collapse .nav > li > a {
		color: #08c;
	}

	.nav-collapse .nav > li > a:hover {
		color: #005580;
	}

	.nav-collapse .nav-list > .active > a,
	.nav-collapse .nav-list > .active > a:hover,
	.nav-collapse .nav-list > .active > a:focus {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: #0088cc;
	}*/

	/*.module-name {
		display: none;
	}*/

	/*.navbar li i {
		font-size: 28px;
		padding-right: 0px;
	}*/

	.mobile-collapse {
		display: none;
	}

	table.table-mobile, .table-mobile thead, .table-mobile tbody,
	.table-mobile th, .table-mobile td, .table-mobile tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-mobile thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-mobile tr { border: 1px solid #ccc; }
	
	.table-mobile td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-mobile td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table-mobile td:nth-of-type(1):before { font-weight: bold; content: "Issue ID"; }
	.table-mobile td:nth-of-type(2):before { font-weight: bold; content: "Date Created"; }
	.table-mobile td:nth-of-type(3):before { font-weight: bold; content: "Date Updated"; }
	.table-mobile td:nth-of-type(4):before { font-weight: bold; content: "Crew #"; }
	.table-mobile td:nth-of-type(5):before { font-weight: bold; content: "Room #"; }
	.table-mobile td:nth-of-type(6):before { font-weight: bold; content: "Student Name"; }
	.table-mobile td:nth-of-type(7):before { font-weight: bold; content: "Peer Support"; }
	.table-mobile td:nth-of-type(8):before { font-weight: bold; content: "Need Follow Up?"; }
	.table-mobile td:nth-of-type(9):before { font-weight: bold; content: "Refer to PS?"; }
	.table-mobile td:nth-of-type(10):before { font-weight: bold; content: "Actions"; }

	/*.table-mobile .btn {
		padding: 2px 10px;
		font-size: 11.9px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}*/
}

div.login-form {
	width: 340px;
	margin: 20px auto 60px;
}

@media screen and (max-width: 480px) {
	div.login-form {
		width: 100%;
	}
}

div.login-form input[type="text"],
div.login-form input[type="password"] {
	width: 100%;
	height: 45px;
	font-weight: bold;
}