.DS_Store
._*
*.pyc
*.pyo
*.egg-info
logs/
schema.sql
applications/*/errors
applications/*/sessions
applications/*/databases
applications/*/uploads
applications/*/static/bower_components
*.table
*.log
tmp/
parameters_*.py
*.pid