@font-face {
	font-family: big-noodle;
	font-style: oblique;
	src: url("../fonts/big_noodle_titling_oblique.ttf");
}

a.brand {
	font-family: big-noodle;
	font-style: oblique;
	font-size: 40px !important;
	line-height: 20px;
}

i {
	padding-right: 4px;
}

li i {
	padding-right: 6px;
}

table {
	margin-top: 0;
}

#login-form {
	position: relative;
	top: 50%;
	margin: 0 auto;
	/*margin-top: -160px;*/
	width: 320px;
	text-align: center;
}

#login-form input[type="submit"] {
	margin-bottom: 10px;
}

#login-form .btn {
	margin-right: 0px;
}

#login-form table, #login-form form {
	margin-bottom: 0;
}

#main-nav li a {
	/*font-size: 15px;*/
	height: 25px;
	line-height: 25px;
}

/*#filter-block {
	position: absolute;
	background-color: lightblue;
	-webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.95;
}*/

#person-pic {
	width: 180px; 
	height: 180px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 180px;
}

#person-pic img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
}

.select2-offscreen {
	display: none !important;
}

th {
	border-right: none;
}