<table class="table table-striped" id="archive-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>In</th>
			<th>Out</th>
			<th>Total Time</th>
			<th>Subjects</th>
			<th>Make Void</th>
		</tr>
	</thead>
	<tbody>
		<tr {{if students:}}style="display: none"{{pass}} id="no-students-row">
			<td colspan='7' style="text-align: center"><h4>No Students</h4></td>
		</tr>
		{{for s in students:}}
		<tr>
			<td>{{=s.person.student_id}}</td>
			<td>{{=s.person.last_name}}</td>
			<td>{{=s.person.first_name}}</td>
			<td class="time-cell" data-value="{{=s.in_time.strftime('%Y-%m-%d-%H-%M-%S')}}"></td>
			<td class="time-cell" data-value="{{=s.out_time.strftime('%Y-%m-%d-%H-%M-%S') if s.out_time else None}}"></td>
			<td>{{=s.totaltime}}</td>
			<td>{{=s.subjects}}</td>
			<td>
				{{if sum(s.sb_void) != len(s.sb_void):}}
				<button class="btn btn-xs btn-danger" onclick="openVoidModal({{=s.sb_att_ids}}, '{{=s.person.last_name + ', ' + s.person.first_name}}')">Void Record</button>
				{{else:}}
				<strong>Voided</strong>
				{{pass}}
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>

<div class="modal fade" id="void-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title">Are you sure?</h3>
			</div>
			<div class="modal-body" style="font-size: 14pt">
				<p>Are you sure you would like to make this record for <strong id="person-name"></strong> void? This cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-danger" id="make-void-btn">Make Void</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
function openVoidModal(record_ids, name) {
	$('#make-void-btn').attr("onclick", 'makeVoid([' + record_ids + ']);');
	$('#person-name').html(name);
	$('#void-modal').modal('show');
	return false;
} 

function makeVoid(record_ids) {
	$.ajax({
		type: "POST",
		url: '/studybuddies/call/json/make_void',
		data: {
			record_ids: JSON.stringify(record_ids)
		},
		success: function() {
			displaySuccess("Record has been voided.");
		},
		error: function() {
			displayError("Could not void record.");
		},
		complete: function() {
			$('#void-modal').modal('hide');
			$('#make-void-btn').attr("onclick", '');
			$('#person-name').html('');
		}
	});
}

$(function() {
	$('.time-cell').each(function(i, el) {
		var value = $(el).attr('data-value');
		if (value != "None") {
			var date =  utcToLocal(value);
			$(el).html(formatAMPM(date));
		} else {
			$(el).html("None");
		}
	});
});
</script>