{{extend 'layout.html'}}

{{block content}}
<div class="container">
	<div class="row" style="margin-bottom: 15px">
		<ul class="nav nav-pills">
			<li>
				<a href="{{=URL('tutors', 'index')}}">Today</a>
			</li>
			<li class="active">
				<a href="{{=URL('tutors', 'alltable')}}">All</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'signup')}}">Signup</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Last Name</th>
						<th>First Name</th>
						<th>Nickname</th>
						<th>Grade</th>
						<th>Tues/Thurs?</th>
						<th>Semesters</th>
						<th>MWF Lunch?</th>
						<th>Subjects</th>
						<th>Sports</th>
						<th>Second Lang.</th>
					</tr>
				</thead>
				<tbody>
				{{if tutors:}}
					{{for t in tutors:}}
					<tr>
						<td>{{=t.person.student_id}}</td>
						<td>{{=t.person.last_name}}</td>
						<td>{{=t.person.first_name}}</td>
						<td>{{=t.study_buddy.nickname}}</td>
						<td>{{=t.person.grade}}</td>
						<td>{{=t.study_buddy.days}}</td>
						<td>{{=t.study_buddy.semester}}</td>
						<td>{{=t.study_buddy.lunch}}</td>
						<td>{{=', '.join([t.study_buddy.academic_subject1,t.study_buddy.academic_subject2,t.study_buddy.academic_subject3])}}</td>
						<td>{{=t.study_buddy.sport_season}}</td>
						<td>{{=t.study_buddy.second_language}}</td>
					</tr>
					{{pass}}
				{{else:}}
				<tr>
					<td colspan='11'>
						<h2 style="text-align: center">No Tutors</h2>
					</td>
				</tr>
				{{pass}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{end}}