{{extend 'layout.html'}}

{{block content}}
<style type="text/css">
	div[id$="_row"] {
		margin-bottom: 15px;
	}

	form input[type="submit"] {
		margin-top: 20px;
		margin-bottom: 20px;
	}
</style>

<div class="container">
	<div class="row" style="margin-bottom: 15px">
		<ul class="nav nav-pills">
			<li>
				<a href="{{=URL('tutors', 'index')}}">Today</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'archive')}}">Archive</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'all')}}">All</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'signup')}}">Signup</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			{{=form}}
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('form input:not([type="submit"]), form select').addClass("form-control");
	$('form select.form-control').select2();
	$('form input[type="submit"]').addClass("btn-primary btn-lg");
});
</script>
{{end}}