{{extend 'layout.html'}}

{{block content}}
<div class="container">
	<div class="row" style="margin-bottom: 15px">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="{{=URL('tutors', 'index')}}">Today</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'alltable')}}">All</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'signup')}}">Signup</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-12 col-md-12" id="today-table"></div>
	</div>
</div>
<script type="text/javascript">
function checkIn(person_id) {
	$.ajax({
		type: 'POST',
		url: '/studybuddies/call/json/checkin',
		data: {
			'person_id': person_id
		},
		dataType: 'json',
		success: function() {
			$('#checkin_id_input').val('');
			$('#checkin_id_submit').addClass('disabled');
			loadTable();
		},
		error: function() {
			displayError("Could not check in Student ID " + person_id + ".");
		}
	});
}

function loadTable() {
	var date = dateToStartEnd(new Date());

	$('#today-table').html("<h1 style='text-align: center'><i class='icon-spin icon-spinner'></i> Loading...</h1>");
	$.ajax({
		type: "POST",
		url: "/studybuddies/tutors/today",
		data: {
			start: date.start,
			end: date.end
		},
		success: function(content) {
			$('#today-table').html(content);
		},
		error: function() {
			displayError("Could not load table");
		}
	});
}

$(function() {
	loadTable();
});
</script>
{{end}}