{{extend 'layout.html'}}

{{block content}}
<div class="container">
	<div class="row" style="margin-bottom: 15px">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="{{=URL('tutors', 'index')}}">Today</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'archive')}}">Archive</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'all')}}">All</a>
			</li>
			<li>
				<a href="{{=URL('tutors', 'signup')}}">Signup</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="input-group col-6 col-md-6">
			<input type="text" class="form-control" placeholder="Check In" id="checkin-input" style="border-right: 0">
			<span class="input-group-btn">
				<button id="checkin-submit" class="btn btn-primary disabled">Submit</button>
			</span>
		</div>
		<div class="col-12 col-md-12" id="sb-table" style="margin-top: 15px; display: inline-block"></div>
	</div>
</div>
<script type="text/javascript" src="{{=URL('static', 'js/tutors.js')}}"></script>
{{end}}