{{extend 'main.html'}}

{{block content}}
<style type="text/css">
	#student-info tr td:first-child {
		padding-left: 40px;
	}
</style>

{{if issue:}}
<a class="btn btn-primary" href="{{=URL('peersupport', 'index')}}"><i class="icon-arrow-left"></i>Back</a>
<h1>Issue #{{=issue.student_issue.id}} <i class="icon-warning-sign"></i></h1>
<table class="table table-striped" style="margin-bottom: 0">
	<tbody>
		<tr>
			<td style="width: 20%"><b>Date</b></td>
			<td>{{=issue.student_issue.timestamp}}</td>
		</tr>
		<tr>
			<td><b>Crew #</b></td>
			<td>{{=issue.crew.id}}</td>
		</tr>
		<tr>
			<td><b>Room #</b></td>
			<td>{{=issue.crew.room if issue.crew.room else 'None'}}</td>
		</tr>
		<tr>
			<td><b>Student Name</b></td>
			<td style="vertical-align: middle">
				{{=' '.join([issue.student.first_name, issue.student.last_name])}} 
				<a href="#" class="btn btn-small" id="see_more_btn">See More</a>
			</td>
		</tr>
		<tr>
	</tbody>
</table>
<div id="student-info" style="display: none">
	<table class="table table-striped" style="margin-bottom: 0;">
		<tbody>
			<tr>
				<td style="width: 20%"><b>Grade</b></td>
				<td>{{=issue.student.grade}}</td>
			</tr>
			<tr>
				<td><b>Crusher Crew Leader</b></td>
				<td>{{='Yes' if issue.student.leader else 'No'}}</td>
			</tr>
		</tbody>
	</table>
</div>
<table class="table table-striped">
	<tbody>
		<tr>
			<td style="width: 20%"><b>Peer Support Student</b></td>
			<td>{{=' '.join([issue.peer_support.first_name, issue.peer_support.last_name])}}</td>
		</tr>
		<tr>
			<td><b>Need Follow Up?</b></td>
			<td>{{='Yes' if issue.student_issue.need_follow_up else 'No'}}</td>
		</tr>
		<tr>
			<td><b>Refer to PS?</b></td>
			<td>{{='Yes' if issue.student_issue.refer else 'No'}}</td>
		</tr>
		<tr>
			<td><b>Summary of Concern</b></td>
			<td><textarea rows="10" readonly>{{=issue.student_issue.summary}}</textarea></td>
		</tr>
		<tr>
			<td><b>Result of Campus Walk</b></td>
			<td><textarea rows="10" readonly>{{=issue.student_issue.result}}</textarea></td>
		</tr>
		<tr>
			<td><b>Follow Up</b></td>
			<td><textarea rows="10" readonly>{{=issue.student_issue.follow_up}}</textarea></td>
		</tr>
	</tbody>
</table>
{{else:}}
<div class="alert alert-danger"><h3>Error Loading Issue! Issue might be corrupted or not exist.</h3></div>
{{pass}}

<script type="text/javascript">
$(function() {
	$('#see_more_btn').on('click', function() {
		$('#student-info').slideToggle();
	});
});
</script>
{{end}}