{{extend 'layout.html'}}

{{block content}}
<div class="row-fluid">
	<h2 class="pull-left">Javelin Forms</h2>
	{{if auth.has_membership('admin'):}}
	<div class="pull-right" style="margin: 12px 0">
		<a href="{{=URL('default', 'create_form')}}" class="btn"><i class="icon-plus-sign"></i>Create Form</a>
	</div>
	{{pass}}
</div>
{{if len(forms) > 0:}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Form ID</th>
			<th>Name</th>
			<th>Description</th>
			{{if auth.has_membership('admin'):}}
			<th>Created</th>
			<th>Verification Code</th>
			{{pass}}
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{for form in forms:}}
		<tr>
			<td>{{=form.id}}</td>
			<td>{{=form.name}}</td>
			<td>{{=form.description}}</td>
			{{if auth.has_membership('admin'):}}
			<td>{{=form.created}}</td>
			<td>{{=form.verification_code}}</td>
			{{pass}}
			<td><a href="{{=URL('default', 'verify')}}?id={{=form.id}}" class="btn">View Form</a></td>
		</tr>
		{{pass}}
	</tbody>
</table>
{{else:}}
<h4>No Forms</h4>
{{pass}}
{{end}}