<!doctype html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}" ng-app="JavelinApp">
<head>
<title>{{=response.title or request.application}}</title>
	<!--[if !HTML5]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
	<![endif]-->
		 
	<meta charset="utf-8" />

	<!-- http://dev.w3.org/html5/markup/meta.name.html -->
	<meta name="application-name" content="{{=request.application}}" />

	<!-- Speaking of Google, don't forget to set your site up:
			 http://google.com/webmasters -->
	<meta name="google-site-verification" content="" />

	<!--  Mobile Viewport Fix
				j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
				device-width: Occupy full width of the screen in its current orientation
				initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
				user-scalable = yes allows the user to zoom in -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

	<!-- All JavaScript at the bottom, except for Modernizr which enables
			 HTML5 elements & feature detects -->
	<script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

	<!-- STYLES -->
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/select2/select2.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/flat-ui-select2.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/fullcalendar/fullcalendar.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/flat-ui-switch.less')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/pe-icon-7-stroke.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/pe-icon-helper.css')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/theme.less')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/colors.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/fonts.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/animate.css/animate.min.css')}}">
	<!-- LESS -->
	<link rel="stylesheet/less" href="{{=URL('static', 'css/variables.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/style.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/animations.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/typography.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/login.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/navigation.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/marketing.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/notifications.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/form.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/tables.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/panels.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/tabs.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/people.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/groups.less')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/events.less')}}">
	<!-- STYLES END -->

	{{if not auth.user:}}
	<style type="text/css">
		body {
			padding-left: 0;
		}

		.navbar-javelin-top,
		.navbar-javelin-top .navbar-brand,
		.navbar-javelin-top ul.navbar-nav.navbar-right {
			background-color: #2C3E50;
		}

		.javelin-main {
			padding: 0;
		}
	</style>
	{{pass}}

	<!-- DEV: Less -->
	<script src="{{=URL('static', 'bower_components/less/dist/less-1.7.1.min.js')}}"></script>

	{{include 'web2py_ajax.html'}}

	{{block head}}{{end}}
</head>

<div class="notification blue">
	<div class="overlay">
		<p class="lead"></p>
	</div>
</div>

<body ng-controller="MainController">
	<div class="navbar-javelin-top navbar-fixed-top">
		<!-- <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button> -->
		<a href="/" class="navbar-brand">
			<span class="javelin-brand"><img src="{{=URL('static', 'images/javelin-icon-v2.svg')}}"></span>
		</a>

		<nav class="main-nav">
			<ul class="nav navbar-nav navbar-right javelin-nav">
				{{if auth.user:}}
				<li class="dropdown">
					<a a-prevent-default href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img class="person-pic" src="{{=URL('download', args=[db.person(db.auth_user(auth.user.id).person_id).picture])}}"> {{=' '.join([auth.user.first_name, auth.user.last_name])}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{=URL('user', 'logout')}}"><span class="pe-7s-lock pe-lg"></span> Logout</a></li>
					</ul>
				</li>
				{{else:}}
				<li>
					<a type="button" class="btn navbar-btn teal" href="{{=URL('default', 'index', anchor='/login')}}" style="margin-right:24px">Login</a>
				</li>
				{{pass}}
			</ul>
		</nav>

		{{if auth.user:}}
		<form class="navbar-form navbar-right main-search">
			<input class="form-control" style="width: 100%" ng-model="search.value" ng-change="search.change()">
			<span class="pe-7s-search form-control-feedback"></span>
			<span class="pe-7s-close-circle form-cancel-btn" ng-show="isSearching" ng-click="cancelSearch()"></span>
		</form>
		{{pass}}
	</div>

	{{if auth.user:}}
	<div class="navbar-javelin-side">
		<ul class="nav navbar-nav javelin-nav">
			<li ng-class="{active: $state.current.name.split('.')[0] == 'people'}">
				<a href="/#/people">
					<span class="green-border"><span class="pe-7s-users pe-3x"></span> People</span>
				</a>
			</li>
			<li ng-class="{active: $state.current.name.split('.')[0] == 'groups'}">
				<a href="/#/groups">
					<span class="red-border"><span class="pe-7s-network pe-3x"></span> Groups</span>
				</a>
			</li>
			<li ng-class="{active: $state.current.name.split('.')[0] == 'events'}">
				<a href="/#/events">
					<span class="purple-border"><span class="pe-7s-date pe-3x"></span> Events</span>
				</a>
			</li>
			<li ng-class="{active: $state.current.name.split('.')[0] == 'tutoring'}">
				<a href="/#/tutoring">
					<span class="orange-border"><span class="pe-7s-notebook pe-3x"></span> Tutoring</span>
				</a>
			</li>
			<li ng-class="{active: $state.current.name.split('.')[0] == 'admin'}">
				<a href="/#/admin">
					<span class="yellow-border"><span class="pe-7s-tools pe-3x"></span> Admin</span>
				</a>
			</li>
		</ul>
	</div>

	{{pass}}

	{{include}}

	<!-- <footer>
		<div class="container">
			<ul class="footer-links">
				<li class="pull-right"><span>© {{=request.now.year}} Jacobson and Varni</span></li>
				<li><span>Currently {{='v2.0.0-beta'}}</span></li>
				<li><a href="/bugs">Bugs</a></li>
				<li><a href="/forms">Forms</a></li>
				<li><a href="/studybuddies">Study Buddies</a></li>
				<li><a href="/changelog">Changelog</a></li>
			</ul>
		</div>
	</footer> -->
	
	<!--===============-->
	<!--=== SCRIPTS ===-->
	<!--===============-->

	<!-- jQuery -->
	<script src="{{=URL('static', 'bower_components/jquery/dist/jquery.min.js')}}"></script>
	<!-- Web2py -->
	<script src="{{=URL('static', 'js/web2py.js')}}"></script>
	<!-- Bootstrap -->
	<script src="{{=URL('static', 'bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<!-- Angular -->
	<script src="{{=URL('static', 'bower_components/angular/angular.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-route/angular-route.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-resource/angular-resource.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-sanitize/angular-sanitize.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-animate/angular-animate.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.11.0.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-router/release/angular-ui-router.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-scroll/angular-scroll.min.js')}}"></script>
	<!-- Select2 -->
	<script src="{{=URL('static', 'bower_components/select2/select2.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-select2/src/select2.js')}}"></script>
	<!-- FullCalendar -->
	<script src="{{=URL('static', 'bower_components/jquery-ui/ui/minified/jquery-ui.custom.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/fullcalendar/fullcalendar.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-calendar/src/calendar.js')}}"></script>

	<!-- Underscore -->
	<script src="{{=URL('static', 'bower_components/underscore/underscore.js')}}"></script>

	<!-- APP -->
	<script src="{{=URL('static', 'js/app/main.js')}}"></script>
	<script src="{{=URL('static', 'js/app/util.js')}}"></script>
	<!-- CONTROLLERS -->
	<script src="{{=URL('static', 'js/app/controllers/main.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/dashboard.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/people.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/groups.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/events.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/tutoring.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/admin.js')}}"></script>
	<script src="{{=URL('static', 'js/app/controllers/messages.js')}}"></script>
	<!-- DIRECTIVES -->
	<script src="{{=URL('static', 'js/app/directives.js')}}"></script>
	<!-- FACTORIES -->
	<script src="{{=URL('static', 'js/app/factories.js')}}"></script>
	<!-- SERVICES -->
	<script src="{{=URL('static', 'js/app/services.js')}}"></script>


	<script type="text/javascript">

	$(function() {


		{{if response.flash:}}
		notify("{{='info' if not isinstance(response.flash, dict) else response.flash['status'] or 'info'}}", "{{=response.flash['message'] if isinstance(response.flash, dict) else response.flash}}");
		{{pass}}

		// var offset = $('.navbar-javelin-side li.active .fa').offset();
		// $('.arrow').css({top: offset.top - 60});

		// $('.navbar-javelin-side ul.javelin-nav li a').on('click', function(ev) {
		// 	// $('.arrow').animate({top: "78px"}, 500);
		// 	var offset = $(ev.currentTarget).find('.fa').offset();
		// 	$('.arrow').animate({top: offset.top - 60}, 300);
		// });

		// $('a.dropdown-toggle').on('click', function(e) {
		// 	e.preventDefault();
		// });
	});
	</script>
	<!--SCRIPTS END-->
</body>
</html>

