<!doctype html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
<head>
<title>{{=response.title or request.application}}</title>
	<!--[if !HTML5]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
	<![endif]-->
		 
	<meta charset="utf-8" />

	<!-- http://dev.w3.org/html5/markup/meta.name.html -->
	<meta name="application-name" content="{{=request.application}}" />

	<!-- Speaking of Google, don't forget to set your site up:
			 http://google.com/webmasters -->
	<meta name="google-site-verification" content="" />

	<!--  Mobile Viewport Fix
				j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
				device-width: Occupy full width of the screen in its current orientation
				initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
				user-scalable = yes allows the user to zoom in -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

	<!-- All JavaScript at the bottom, except for Modernizr which enables
			 HTML5 elements & feature detects -->
	<script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

	<script src="{{=URL('static', 'bower_components/platform/platform.js')}}"></script>

	<!-- POLYMER IMPORTS -->
	<link rel="import" href="{{=URL('static', 'bower_components/core-toolbar/core-toolbar.html')}}">
	<link rel="import" href="{{=URL('static', 'bower_components/core-drawer-panel/core-drawer-panel.html')}}">
	<!-- END -->

	<!-- STYLES -->
	<!-- <link rel="stylesheet" href="{{=URL('static', 'bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/select2/select2.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/select2/select2-bootstrap.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'bower_components/fullcalendar/fullcalendar.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/pe-icon-7-stroke.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/pe-icon-helper.css')}}">
	<link rel="stylesheet/less" href="{{=URL('static', 'css/theme.less')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/colors.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/fonts.css')}}"> -->
	<link rel="stylesheet/less" href="{{=URL('static', 'css/style.less')}}">
	<!-- <link rel="stylesheet/less" href="{{=URL('static', 'css/variables.less')}}"> -->
	<!-- STYLES END -->

	<!-- DEV: Less -->
	<script src="{{=URL('static', 'bower_components/less/dist/less-1.7.1.min.js')}}"></script>

	{{include 'web2py_ajax.html'}}

	{{block head}}{{end}}
</head>

<!-- <div class="notification blue">
	<div class="overlay">
		<p class="lead"></p>
	</div>
</div> -->

<body unresolved touch-action="auto">

	<core-drawer-panel>
		<div drawer></div>
		<div main>
			<core-toolbar>
				<div class="icon-container">
					<img src="{{=URL('static', 'images/javelin-icon-v2.svg')}}" height="50">
				</div>
			</core-toolbar>
		</div>
	</core-drawer-panel>

	<div class="javelin-main">
		{{include}}
	</div>
	
	<!--===============-->
	<!--=== SCRIPTS ===-->
	<!--===============-->

	<!-- jQuery -->
	<script src="{{=URL('static', 'bower_components/jquery/dist/jquery.min.js')}}"></script>
	<!-- Web2py -->
	<script src="{{=URL('static', 'js/web2py.js')}}"></script>
	<!-- Bootstrap -->
	<script src="{{=URL('static', 'bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<!-- Angular -->
	<script src="{{=URL('static', 'bower_components/angular/angular.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-route/angular-route.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-resource/angular-resource.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-sanitize/angular-sanitize.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.11.0.min.js')}}"></script>
	<!-- Select2 -->
	<script src="{{=URL('static', 'bower_components/select2/select2.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-select2/src/select2.js')}}"></script>
	<!-- FullCalendar -->
	<script src="{{=URL('static', 'bower_components/jquery-ui/ui/minified/jquery-ui.custom.min.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/fullcalendar/fullcalendar.js')}}"></script>
	<script src="{{=URL('static', 'bower_components/angular-ui-calendar/src/calendar.js')}}"></script>

	<!-- Underscore -->
	<script src="{{=URL('static', 'bower_components/underscore/underscore.js')}}"></script>

	<!-- APP -->
	<!-- <script src="{{=URL('static', 'js/app/main.js')}}"></script>
	// <script src="{{=URL('static', 'js/app/controllers.js')}}"></script>
	// <script src="{{=URL('static', 'js/app/directives.js')}}"></script>
	// <script src="{{=URL('static', 'js/app/factories.js')}}"></script> -->


	<script type="text/javascript">
	function notify(status, text) {
		if (status == "error") {
			$('.notification').removeClass('blue');
			$('.notification').addClass('yellow');
		} else {
			$('.notification').removeClass('yellow');
			$('.notification').addClass('blue');
		}

		$('.notification .overlay p').html('<i class="fa fa-exclamation-triangle"></i> ' + text);
		$('.notification').animate({right: "20px"}, 500);
		setTimeout(function() {
			$('.notification').animate({right: "-30%"}, 500);
		}, 4000);
	}

	$(function() {
		{{if response.flash:}}
		notify("info", "{{=response.flash}}");
		{{pass}}

		$('.sidebar-btn').on('click', function() {
			$('body').toggleClass('side-open');
			$('.navbar-javelin-side').toggleClass('side-open');
		});

		$('.navbar-javelin-side .navbar-nav a').on('click', function() {
			$('body').removeClass('side-open');
			$('.navbar-javelin-side').removeClass('side-open');
		});
	});
	</script>
	<!--SCRIPTS END-->
</body>
</html>

