{{extend 'layout.html'}}

{{block left_sidebar}}
<div class="span3">
	<div class="well" style="padding: 8px 0 !important">
		<ul class="nav nav-list" id="main-nav">
			<li class="nav-header">Modules</li>
			{{for module in modules_data:}}
			<li class="{{if modules_data[module]['name'] == active_module:}}active{{pass}}"><a href="/{{=modules_data[module]['name']}}"><i class="icon-{{=modules_data[module]['icon']}} icon-large"></i>{{=modules_data[module]['labels']['cap']}}</a></li>
			{{pass}}
		</ul>
	</div>
</div>
{{end}}

{{block center}}
{{include}}
{{end}}