<h4>Preview</h4>
<div style="width:4in; height:2in; padding: 10px; margin-bottom: 20px; display:block; font-family:'times'; border: 1px solid">
	<div style="float: left; margin-top: 10px; margin-left: 10px; width: auto">
		<img src="/static/images/vc2emblem.png" style="height: 50px; width: 50px">
	</div>
	<div style="float: right; margin-top:10px; margin-right: 10px; width: auto">
		<img src="/static/images/vc2emblem.png" style="height: 50px; width: 50px">
	</div>
	<div style="text-align: center"><b>{{=request.now.year}} <span id="event_name_text"></span></b></div>
	<div style="text-align: center; margin-top: 10px"><b style="font-size: 24pt">First Name</b></div>
	<div style="text-align: center; margin-top: 5px; font-size: 11pt">Last Name</div>
	<div style="margin-top: 35px; font-size: 11pt">
		<span>ID#: 10000</span><br>
		<span>Crew#: 9</span><br>
		<span>Crew Room: SS-2</span><br>
		<span>W.E.F.S.K. Rotation: I</span><br>
	</div>
</div>