{{extend 'layout.html'}}

{{block content}}
<style type="text/css">
	.javelin-changes ul {
		font-size: 15px;
	}

	.javelin-changes p {
		font-size: 15px;
	}
</style>
<div class="javelin-changes">
	<h1>v1.1.4 <span class="label label-success">Latest</span></h1>
	<h3>Bug fixes</h3>
	<ul>
		<li>Fixed a bug in Study Buddies checkout that would prevent checkout after 0:00 UTC time until 0:00 local time.</li>
	</ul>
</div>
<hr>
<div class="javelin-changes">
	<h1>v1.1.3</h1>
	<h3>New Features</h3>
	<ul>
		<li>Added functionality for printing receipts with the Star TSP650 receipt printer in the Study Buddies application.</li>
		<li>Added a demo Javelin application located <a href="/demo">here</a>.</li>
	</ul>
</div>
<hr>
<div class="javelin-changes">
	<h1>v1.1.2</h1>
	<h3>Bug Fixes and New Features</h3>
	<ul>
		<li>Added room numbers to schedules.</li>
		<li>Changed Study Buddies application color to fit with the theme of Javelin Central.</li>
		<li>Fixed a bug in the Study Buddies application to display the correct students on the correct days.</li>
		<li>Changed all Study Buddies tables to display "Total Time" instead of "Study Hours".</li>
		<li>Records in the "Archive" are sorted by Last Name</li>
		<li>Added a "Check Out" to the Tutors controller.</li>
		<li>Added functionality for editing tutors in the Study Buddies application, which can be seen under "Tutors" > "All".</li>
		<li>Added the ability to void Study Buddy attendance for a person on a given day.</li>
	</ul>
</div>
<hr>
<div class="javelin-changes">
	<h1>v1.1.1</h1>
	<h3>What's new</h3>
	<ul>
		<li><strong>Brand new <a href="http://jquery.com/">jQuery</a> tables</strong> built exclusively for Javelin for optimization and clarity.</li>
		<li><strong>Study Buddies application</strong> has a new Tutor checkin/checkout system.</li>
	</ul>
</div>
<hr>
<div class="javelin-changes">
	<h1>v1.1.0</h1>
	<h3>What's new</h3>
	<ul>
		<li><strong>New design</strong> using the new <a href="http://getbootstrap.com/">Bootstrap 3</a> HTML/CSS: a responsive, mobile first web design framework with a flat, sleek design.</li>
		<li><strong>The sidebar has been removed</strong> and its contents are now in the topmost navigation bar for easy access with <strong>deference to content.</strong></li>
		<li><strong>Dynamic Documents:</strong> A more powerful dynamic document creator with the ability to create nametags, attendance sheets, and call slips based on user input. (Currently, only for admins. Check it out in the 'Admin' controller.)</li>
		<li><strong>Internal changes</strong> for faster access to data, easier viewing of content, and more control.</li>
	</ul>
</div>
<hr>
<div class="javelin-changes">
	<h1>v1.0.0 and below</h1>
	<h3>Overview</h3>
	<p>Provides base functionality for management and organization of the community.</p>
	<h3>Features</h3>
	<ul>
		<li>A full set of rich controllers:</li>
		<ul>
			<li><strong>People:</strong> Access and manage information about the people in the community.</li>
			<li><strong>Groups:</strong> Organize people into groups.</li>
			<li><strong>Events:</strong> Manage and create events.</li>
			<li><strong>Messages:</strong> Send SMS messages to people and groups.</li>
			<li><strong>Admin:</strong> An admin interface for customization and approving users.</li>
		</ul>
		<li>Specialized controllers for Crusher Crew:</li>
		<ul>
			<li><strong>Orientation:</strong> The interface for Crusher Crew Orientation</li>
			<li><strong>Peer Support:</strong> Create and monitor Peer Support.</li>
			<li><strong>Scores:</strong> The interface for scoring crews during training.</li>
		</ul>
	</ul>
</div>
{{end}}