<!-- DETAIL -->
<div>
	<h3 style="margin-top: 31px;">{[ currentPerson.first_name + ' ' + currentPerson.last_name ]}</h3>
	<div class="row">
		<div class="form-group col-sm-4">
			<label>Student ID</label>
			<input ng-model="currentPerson.student_id" class="form-control" type="text" placeholder="Student ID" disabled>
		</div>
		<div class="form-group col-sm-4">
			<label>Sex</label>
			<input ng-model="currentPerson.sex" class="form-control" type="text" placeholder="Student ID" disabled>
		</div>
	</div>
</div>