<h2 ng-show="!$parent.search.value">Please type in the search bar above</h2>

<div class="row search-row" ng-show="$parent.search.value">
	<div class="col-sm-4">
		<div ng-show="people">
			<table class="table table-striped search-results">
				<thead>
					<tr><th>People</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in people">
						<td ng-click="rowClick('people', {[row.id]})">{[row.last_name]}, {[row.first_name]}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-show="groups">
			<table class="table table-striped search-results">
				<thead>
					<tr><th>Groups</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in groups">
						<td ng-click="rowClick('groups', {[row.id]})">{[row.name]}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-show="events">
			<table class="table table-striped search-results">
				<thead>
					<tr><th>Events</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in events">
						<td ng-click="rowClick('events', {[row.id]})">{[row.title]}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>