<div class="navbar navbar-default navbar-javelin-inner">
	<button class="navbar-btn sidebar-btn navbar-toggle">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<h4 class="navbar-text">People</h4>
	<button class="pull-right navbar-btn" ng-show="controllerAction" ng-click="controllerAction.click()">
		<span>+</span> {[ controllerAction.name ]}
	</button>
	<!-- <div ng-class="{'btn-group': previousLocation.path}" style="margin: 14px 15px; display: inline-block" ng-show="isSearching">
		<div class="btn" ng-class="{active: true}">All</div>
		<div class="btn" ng-show="previousLocation.path">{[ previousLocation.controller ]}</div>
	</div> -->
</div>