<style type="text/css">
body {
	background-color: #2C3E50;
	/*position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;*/
}

@media screen and (max-width: 620px) {
	body {
		padding-bottom: 300px;
	}
}

footer {
	background-color: #2C3E50;
}

header.navbar-javelin {
	background-color: #2C3E50;	
}
</style>

<section class="login">
	<div class="login-icon fade-in">
		<img src="{{=URL('static', '/images/javelin-icon-v2.svg')}}">
		<h4>Welcome to
			<small>Javelin</small>
		</h4>
	</div>
	<div class="login-form">{{=form}}</div>
</section>

<script language="javascript">
<!--
// jQuery("#web2py_user_form input:visible:enabled:first").focus();
// {{if request.args(0)=='register':}}
//     web2py_validate_entropy(jQuery('#auth_user_password'),100);
// {{elif request.args(0)=='change_password':}}
//     web2py_validate_entropy(jQuery('#no_table_new_password'),100);
// {{pass}}
//--></script>

