{{extend 'layout.html'}}

{{block content}}
<!-- <div id="filter-block"></div> -->
{{if request.args(0)!='register':}}
<h1 style="text-align: center; font-size: 60px">{{=T( request.args(0).replace('_',' ').capitalize() )}}</h1>
<div id="web2py_user_form" class='login-form'>
	<div class="col-12 col-md-12">
		{{=form}}
	</div>
</div>
{{elif request.args(0)=='register':}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
{{=form}}
{{pass}}
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
	web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
	web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
$(function() {
	if (navigator.userAgent.match(/msie/i)) {
		window.alert("It appears that you are using Microsoft Internet Explorer. " + 
			"Javelin frowns upon using an archaic browser such as this, " +
			"since there are not only ascetic and programmatic defects, but " +
			"serious security risks as well. We recommend Firefox or Chrome, which " +
			"you can download here for Firefox: https://www.mozilla.org/firefox/, " +
			"and here for Chrome: https://www.google.com/chrome/");
	}
});
//--></script>
{{end}}