{{extend 'layout.html'}}

{{block content}}
<div class="container">
	<div class="row" style="margin-bottom: 20px">
		<div class="col-12 col-sm-12">
			<span class="date-long-span" style="font-size: 28px; font-weight: bold"></span>
			<input type="hidden" id="currdate-input" value="{{=currdate}}">
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-12">
			<button class="btn btn-primary" onclick="testPrint();">Test Print</button>
			<applet name="jzebra" code="jzebra.PrintApplet.class" archive="{{=URL('static', 'jzebra/dist/jzebra.jar')}}" height="10px" width="10px">
				<param name="printer" value="zebra">
			</applet>
		</div>
	</div>

	<div class="row">
		<div class="input-group col-4 col-sm-4">
			<input type="text" class="form-control" placeholder='Student ID' id="checkoutall_id_input" style="border-right: 0">
			<span class="input-group-btn">
				<a href="#" id='checkoutall_id_submit' class="btn btn-warning disabled" type="button">Check Out</a>
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12">
			<div id="sb-table-content"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{=URL('static', 'js/default.js')}}"></script>
<script type="text/javascript">
var applet = undefined;
var months = ['January', 'February', 'March', 'April',
	'May', 'June', 'July', 'August', 'September',
	'October', 'Novemder', 'December'];
// var receipt = undefined;

// String.prototype.decodeEscapeSequence = function() {
//     return this.replace(/\\x([0-9A-Fa-f]{2})/g, function() {
//         return String.fromCharCode(parseInt(arguments[1], 16));
//     });
// };--


function printReceipt(receipt) {
	if (receipt) {
		applet.appendHex("1b40"); // RESET
		applet.appendHex(receipt);
		applet.appendHex("1b40"); // RESET
		applet.print();
	}
	return false;
}

function testPrint() {
	console.log("TEST PRINT");
	applet.appendHex("1b40"); // RESET
	applet.appendHex('48656c6c6f20576f726c64210a0a0a0a0a');
	applet.appendHex('1b6433'); //CUT
	applet.appendHex("1b40"); // RESET
	applet.print();
	// "1b401b1d613156494e54414745204352555348455220435245570a535455445920425544444945530a53657074656d6265722031392c20323031330a0a1b1d61301b454e616d653a1b46204c61736861776e61204a61636b736f6e0a1b4547726164653a1b462031300a1b45496e2054696d653a1b462030353a32393a323220414d0a1b454f75742054696d653a1b462031313a32393a323320414d0a1b45546f74616c2054696d653a1b4620363a303a310a1b455375626a656374733a1b460a20202020201b454f746865723a1b4620363a303a310a0a0a0a1b1d6131415454454e54494f4e2053545544454e5453210a416674657220796f752073686f772074686973207469636b65740a746f20796f757220706172656e747320616e642074656163686572732c0a6272696e672069742062792053533220647572696e67206c756e636820746f0a656e74657220696e20746865205374756479204275646469657320726166666c65210a0a1b620601024031323334351e0d0a706f7765726564206279204a6176656c696e0a2863292032303133204a61636f62736f6e2026205661726e690a0a1b64331b40"
	return;
}

$(function() {
	setCurrentDate("{{=currdate}}");
	loadCheckouts("{{=currdate}}");

	$('#checkoutall_id_submit').on('click', function() {
		var person_id = $('#checkoutall_id_input').val();
		checkOut(person_id, true);
	});

	$('#checkoutall_id_input').on('keyup', function(e) {
		var val = $(this).val();
		$('#checkoutall_id_submit').removeClass('disabled');
		if (val == '')
			$('#checkoutall_id_submit').addClass('disabled');

		if (e.keyCode == 13 && val != '')
			$("#checkoutall_id_submit").click();
	});

	applet = document.jzebra;
	if (applet.findPrinter) {
		applet.findPrinter();
	}

	setTimeout(function() {
		while (!applet && !applet.isDoneFinding());
		var printer = applet.getPrinter();
		// applet.useAlternatePrinting(true);
		alert(printer == null ? "Printer not found" : "Printer \"" + printer + "\" found");
		displayFlash("Printer loaded");
	}, 2000);
});
</script>
{{end}}