<div class="row">
	<div class="col-6 col-sm-4">
		<button class="btn btn-primary btn-block sb-section" data-section='4'>
			English <span class="badge" id="english_count">{{=counts['english'] or ''}}</span>
		</button>
	</div>
	
	<div class="col-6 col-sm-4">
		<button class="btn btn-primary btn-block sb-section" data-section='2'>
			Science <span class="badge" id="science_count">{{=counts['science'] or ''}}</span>
		</button>
	</div>
	<div class="col-6 col-sm-4">
		<button class="btn btn-primary btn-block sb-section" data-section='5'>
			Foreign Language <span class="badge" id="foreign_language_count">{{=counts['foreign_language'] or ''}}</span>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-6 col-sm-4">
		<button class="btn btn-primary btn-block sb-section" data-section='3'>
			History <span class="badge" id="history_count">{{=counts['history'] or ''}}</span>
		</button>
	</div>
	<div class="col-6 col-sm-4">
		<button class="btn btn-primary btn-block sb-section" data-section='1'>
			Math <span class="badge" id="math_count">{{=counts['math'] or ''}}</span>
		</button>
	</div>
	<div class="col-6 col-sm-4">
		<button class="btn btn-primary btn-block sb-section" data-section='6'>
			Test Taking <span class="badge" id="test_taking_count">{{=counts['test_taking'] or ''}}</span>
		</button>
	</div>
</div>