{{if sections and counts:}}
	<div class="row">
		<div class="col-6 col-sm-4">
			<button class="btn btn-primary btn-block sb-section" data-section="{{=sections['english']}}">
				English <span class="badge" id="english_count">{{=counts['english'] or ''}}</span>
			</button>
		</div>
		
		<div class="col-6 col-sm-4">
			<button class="btn btn-primary btn-block sb-section" data-section="{{=sections['science']}}">
				Science <span class="badge" id="science_count">{{=counts['science'] or ''}}</span>
			</button>
		</div>
		<div class="col-6 col-sm-4">
			<button class="btn btn-primary btn-block sb-section" data-section="{{=sections['foreign_language']}}">
				Foreign Language <span class="badge" id="foreign_language_count">{{=counts['foreign_language'] or ''}}</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-4">
			<button class="btn btn-primary btn-block sb-section" data-section="{{=sections['history']}}">
				History <span class="badge" id="history_count">{{=counts['history'] or ''}}</span>
			</button>
		</div>
		<div class="col-6 col-sm-4">
			<button class="btn btn-primary btn-block sb-section" data-section="{{=sections['math']}}">
				Math <span class="badge" id="math_count">{{=counts['math'] or ''}}</span>
			</button>
		</div>
		<div class="col-6 col-sm-4">
			<button class="btn btn-primary btn-block sb-section" data-section="{{=sections['test_taking']}}">
				Test Taking <span class="badge" id="test_taking_count">{{=counts['test_taking'] or ''}}</span>
			</button>
		</div>
	</div>
{{pass}}