<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>In</th>
			<th>Out</th>
			<th>Total Time</th>
		</tr>
	</thead>
	<tbody>
		<tr {{if students:}}style="display: none"{{pass}} id="no-students-row">
			<td colspan='6' style="text-align: center"><h2 style="margin-top: 10px">No Students</h2></td>
		</tr>
		{{for s in students:}}
		<tr {{if s.sb_att.is_out:}}class="sb-out-hide"{{pass}}>
			<td>{{=s.person.student_id}}</td>
			<td>{{=s.person.last_name}}</td>
			<td>{{=s.person.first_name}}</td>
			<td class="time-cell" data-value="{{=s.sb_att.in_time.strftime('%Y-%m-%d-%H-%M-%S')}}"></td>
			<td class="time-cell" data-value="{{=s.sb_att.out_time.strftime('%Y-%m-%d-%H-%M-%S') if s.sb_att.out_time else None}}"></td>
			<td>{{=(s.sb_att.out_time - s.sb_att.in_time) if s.sb_att.out_time else '---'}}</td>
		</tr>
		{{pass}}
	</tbody>
</table>

<script type="text/javascript">
$(function() {
	$('.time-cell').each(function(i, el) {
		var value = $(el).attr('data-value');
		if (value != "None") {
			var date =  utcToLocal(value);
			$(el).html(formatAMPM(date));
		} else {
			$(el).html("---");
		}
	});
});
</script>